$fg-color: #cccccc;
$bg-color: #002c2d;
$comment-color: #fa8072;  // salmon
$keyword-color: #da70d6;  // orchid
$constant-color: #ffff00; // yellow
$type-color: #ffa500;     // orange
$attr-color: #00ffff;     // cyan
$inserted-color: #00ff00;
$deleted-color:  #ff0000;

.highlight {
    table td { padding: 5px; }
    table pre { margin: 0; }
    code {
        color: $fg-color;
    }
    &, .w {
        color: $fg-color;
        background-color: $bg-color;
    }
    .err {
        color: #151515;
        background-color: #ac4142;
    }
    .k, .kc, .kd, .kn, .kp, .kr {
        /* keyword */
        color: $keyword-color;
    }
    .kt {
        /* type */
        color: $type-color;
    }
    .na {
        /* attribute */
        color: $attr-color;
    }
    .nb, .bp {
        /* builtin name */
        color: $keyword-color;
    }
    .nc {
        /* class name */
        color: $type-color;
    }
    .no {
        /* constant */
        color: $constant-color;
    }
    .ne {
        /* exception */
        color: $keyword-color;
    }
    .nf {
        /* function name */
        color: $attr-color;
    }
    .nl {
        /* label */
        color: $attr-color;
    }
    .nt {
        /* tag name */
        color: $keyword-color;
    }
    .vc, .vg, .vi {
        /* class, global, instance variable */
        color: $attr-color;
    }
    .s, .sb, .sc, .sd, .s2, .sh, .sx, .sr, .s1, .ss {
        /* string */
        color: $constant-color;
    }
    .se {
        /* escape sequence */
        color: $keyword-color;
    }
    .si {
        /* interpolation */
        color: $keyword-color;
    }
    .m, .mf, .mh, .mi, .il, .mo, .mb, .mx {
        /* number */
        color: $constant-color;
    }
    .ow {
        /* word operator */
        color: $keyword-color;
    }
    .p, .pi {
        /* punctuation */
        color: $fg-color;
    }
    .c, .cd, .cm, .c1, .cs {
        /* comment */
        color: $comment-color;
    }
    .cp {
        /* preprocessor */
        color: $keyword-color;
    }
    .gh {
        /* headline */
        color: $keyword-color;
        font-weight: bold;
    }
    .gi {
        /* inserted text */
        color: $inserted-color;
    }
    .gd {
        /* deleted text */
        color: $deleted-color;
    }
}
